{{#foreach navigation}}
	{{#if url }}
      <li class="{{slug}}{{#if current}} active{{/if}}"> <a href="/?blog_page=blog"> {{url}} </a> </li>
   {{else}}
      <li class="{{slug}}{{#if current}} active{{/if}}"> <a href="{{url absolute="true"}}"> {{label}} </a> </li>
   {{/if}}
{{/foreach}}
